{% extends "base.html" %}
{% load i18n %}
{% block scripts %}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}mail/js/jquery.js"></script>
{% if list_all %}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}mail/js/jquery.address.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}common/js/baruwa/prevent-caching-of-ajax-requests.js"></script>
{% endif %}
<script type="text/javascript" charset="utf-8">
//<![CDATA[
var last_id = 0;
{% if not list_all %}
var full_visits_listing = false;
{% else %}
var full_visits_listing = true;
{% endif %}
var rj;
var ax_error = false;
var ax_in_progress = false;
var media_url = '{{MEDIA_URL}}';
var visits_base_url = "{% url main-visits-index %}";
var baruwa_num_recent_visits = {{baruwa_num_recent_messages}};
//]]>
</script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}common/js/baruwa/lib.js"></script>
{% if not list_all %}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}web/js/baruwa/recent_visits.js"></script>
{% else %}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}web/js/baruwa/visits.js"></script>
{% endif %}
{% endblock scripts %}
{% block submenu %}
<ul>
	<li><a href="{% url all-visits-index 'full' %}">{% trans "All visits" %}</a></li>
	<li><a href="{% url all-visits-index 'url' %}">{% trans "Url filtered visits" %}</a></li>
	<li><a href="{% url all-visits-index 'virus' %}">{% trans "Virus detected visits" %}</a></li>
	<li><a href="{% url all-visits-index 'search' %}">{% trans "Search query visits" %}</a></li>
</ul>
{% endblock submenu %}
{% block title %}
{% if list_all %}
	{% load pagination_heading %}{% pagination_heading %}
{% else %}
	{% blocktrans %}Showing the {{baruwa_num_recent_messages}} most recent visits{% endblocktrans %}
{% endif %}
{% endblock title %}
{% block heading %}
{% if list_all %}
	{% load pagination_heading %}{% pagination_heading %}
	{%if active_filters %}
		(<small><a href="{% url web-reports-index %}#active_filters">{% trans "Filters" %}</a> {% trans "have been applied" %}</small>)
	{%endif%}
{% else %}
	{% blocktrans %}Showing the {{baruwa_num_recent_messages}} most recent visits {% endblocktrans %}
	<small>
	    [{% trans "Enable javascript for updates" %}]
	</small>
{% endif %}
{% endblock heading %}
{% block content %}
<div class="Grid_heading"> <!--Heading Start Here-->
	{% if list_all %}
	<div class="web_tm_heading">{% trans "Date/Time" %}</div>
	<!-- <div class="web_ip_heading">{% trans "IP" %}</div> -->
	<div class="web_hostname_heading">{% trans "Hostname" %}</div>
	<div class="web_username_heading">{% trans "Username" %}</div>
	<div class="web_site_heading">{% trans "Site" %}</div>
	<div class="web_category_heading">{% trans "Category" %}</div>
	<div class="web_size_heading">{% trans "Size" %}</div>
	{% else %}
	<div class="web_tm_heading">{% trans "Date/Time" %}</div>
	<!-- <div class="web_ip_heading">{% trans "IP" %}</div> -->
	<div class="web_hostname_heading">{% trans "Hostname" %}</div>
	<div class="web_username_heading">{% trans "Username" %}</div>
	<div class="web_site_heading">{% trans "Site" %}</div>
	<div class="web_category_heading">{% trans "Category" %}</div>
	<div class="web_size_heading">{% trans "Size" %}</div>
	{% endif %}
	<div class="web_status_heading">{% trans "Status" %}</div>
</div>	<!--Heading End Here-->
{% load iptools %}
{% load texttools %}
{% load messages_extras %}
{% for visit in object_list %}
<div class="{{visit.css}}">
	<div class="web_tm">
		<a href="{% url visit-detail visit.id %}">{{ visit.date|date:"Y-m-d"  }} {{ visit.time|time:"H:i:s"}}</a>
	</div>
	<div class="web_hostname">
		<a href="{% url visit-detail visit.id %}">{{ visit.ip.hostname|tds_trunc:20|tds_obfuscation }}</a>
	</div>
	<div class="web_username">
		<a href="{% url visit-detail visit.id %}">{{ visit.authuser|tds_trunc:25|tds_obfuscation }}</a>
	</div>
	<div class="web_site">
		<a href="{% url visit-detail visit.id %}">{{ visit.site.site|tds_trunc:43 }}</a>
	</div>
	<div class="web_category">
		<a href="{% url visit-detail visit.id %}">{{ visit.site.category|tds_trunc:15 }}</a>
	</div>
	<div class="web_size">
		<a href="{% url visit-detail visit.id %}">{{ visit.bytes|filesizeformat }}</a>
	</div>
	<div class="web_status">
		<a href="{% url visit-detail visit.id %}">{{ visit.status }}</a>
	</div>                        
</div>
{% empty %}
<div class="LightBlue_div">
<div class="spanrow">{% trans "No records returned" %}</div>
</div>
{% endfor %}
{% endblock content %}
{% block paging %}
{% if list_all %}
<div class="content_footer">
	<div id="filters">
		{% if active_filters %}
		<b>{% trans "Filters have been applied :" %}</b>
		<span id="fhl" style="display:inline;">
		{% for f in active_filters %}
		"<a href="{% url web-reports-index %}#active_filters">{{f.filter_field}} {{f.filter_by}} {{f.filter_value}}</a>"{% if not forloop.last %},{% endif %}
		{% endfor %}
		</span>
		{% endif %}
	</div>
	<div id="paginator">
		{% if is_paginated %}{% load generic_paginator %}{% generic_paginator 3 %}{% endif %}
	</div>
</div>
{% endif %}
{% endblock paging %}