{% extends "base.html" %}
{% load i18n %}
{% block submenu %}
<ul>
	<li><a href="{% url add-acl-rule %}">{% trans "Add ACL rule" %}</a></li>
</ul>
{% endblock submenu %}
{% block title %}{% trans "Settings :: ACL Rules ::" %}{% load pagination_heading %}{% pagination_heading %}{% endblock title %}
{% block heading %}{% trans "Settings :: ACL Rules ::" %}{% load pagination_heading %}{% pagination_heading %}{% endblock heading %}
{% block content %}
<div class="Grid_heading">
    <div class="web_ods_up">&nbsp;</div>
	<div class="web_ods_down">&nbsp;</div>
	<div class="web_acl_time">{% trans "Time" %}</div>
	<div class="web_acl_inverted">{% trans "Inverted" %}</div>
	<div class="web_acl_source">{% trans "Source" %}</div>
	<div class="web_acl_dp">{% trans "Destination policy" %}</div>
	<div class="web_sources_action">{% trans "Actions" %}</div>
</div>
{% for acl in object_list %}
<div class="{% cycle 'LightBlue' 'LightGray' %}_div">
	<div class="web_ods_row_up">
		{% if acl.first or acl.default %}
		&nbsp;
		{% else %}
		<a href="{% url move-acl-rule 'up', acl.id%}"><img src="{{ MEDIA_URL }}web/imgs/arrow_up.png" alt="up" title="up" /></a>
		{% endif %}
	</div>
	<div class="web_ods_row_down">
		{% if acl.last or acl.default %}
		&nbsp;
		{% else %}
		<a href="{% url move-acl-rule 'down', acl.id%}"><img src="{{ MEDIA_URL }}web/imgs/arrow_down.png" alt="down" title="down" /></a>
		{% endif %}
	</div>
	<div class="web_acl_row_time">{{acl.time.name}}</div>
	<div class="web_acl_row_inverted">
		{% if acl.time_invert %}
		{% trans "Yes" %}
		{% else %}
		{% trans "No" %}
		{% endif %}
	</div>
	<div class="web_acl_row_source">{{acl.source.name}}</div>
	<div class="web_acl_row_dp">{{acl.destination_policy.name}}</div>
	<div class="web_sources_row_edit"><a href="{% url edit-acl-rule acl.id %}"><img src="{{ MEDIA_URL }}mail/imgs/edit.png" alt="Edit" title="Edit" /></a></div>
	<div class="web_sources_row_delete"><a href="{% url delete-acl-rule acl.id %}"><img src="{{ MEDIA_URL }}common/imgs/action_delete.png" alt="Delete" title="Delete"/></a></div>
</div>
{% empty %}
<div class="LightBlue_div"><div class="spanrow">{% trans "No ACL Rules found" %}</div></div>
{% endfor %}
{% endblock content %}
{% block paging %}
<div class="content_footer">
    <div id="paginator">
    {% load config_pager %}{% config_pager 3 %}
    </div>
</div>
{% endblock paging %}