{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Settings :: Apply" %}{% endblock title %}
{% block heading %}{% trans "Settings :: Apply" %}{% endblock heading %}
{% block content %}
<div class="Grid_heading">
    <div class="Reports_heading">{% trans "Apply Settings" %}</div>
</div>
{% if confirm %}
<form action="" method="post">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
<div class="LightBlue_div">
    <div class="form_label">{% trans "Are you sure you want to apply the settings" %}</div>
    <div class="form_value">
        <input id="submit-button" type="submit" value="{% trans "Apply" %}" />
    </div>
    <div class="form_error"></div>
</div>
</form>
{% else %}
<div class="lightblue_div">
	{% if success %}
	<div class="spanrow">{% trans "Settings successfully applied" %}</div>
	{% else %}
	<div class="spanrow">{% trans "Applying of Settings failed" %}</div>
	{% endif %}
</div>
<div class="LightBlue_div"><div class="spanrow">{{stdout}}</div></div>
{% endif %}
{% endblock content %}
