{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Settings" %}{% endblock title %}
{% block heading %}{% trans "Settings" %}{% endblock heading %}
{% block content %}
<div class="Grid_heading">
    <div class="Reports_heading">{% trans "Settings" %}</div>
</div>
<div class="lightblue_div">
    <div class="Reports_cols">
        <ul class="reports">
            <li><a href="{% url acl-rules %}">{% trans "ACL Rules" %}</a></li>
			<li><a href="{% url time-rules %}">{% trans "Times" %}</a></li>
			<li><a href="{% url source-rules %}">{% trans "Sources" %}</a></li>
			<li><a href="{% url dc-rules %}">{% trans "Destination components" %}</a></li>
			<li><a href="{% url destination-rules-local %}">{% trans "Destinations" %}</a></li>
        </ul>
    </div>
    <div class="Reports_cols">
        <ul class="reports">
			<li><a href="{% url od-rules %}">{% trans "Ordered Destinations" %}</a></li>
			<li><a href="{% url dps-rules %}">{% trans "Destination Policies" %}</a></li>
			<li><a href="{% url verify-config %}">{% trans "Verify configuration" %}</a></li>
			<li><a href="{% url apply-config %}">{% trans "Apply configuration" %}</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
