{% extends "base.html" %}
{% load i18n %}
{% block submenu %}
<ul>
	<li><a href="{% url add-ods-rule %}">{% trans "Add Ordered Destination" %}</a></li>
</ul>
{% endblock submenu %}
{% block title %}{% trans "Settings :: Ordered Destination ::" %}{% load pagination_heading %}{% pagination_heading %}{% endblock title %}
{% block heading %}{% trans "Settings :: Ordered Destination ::" %}{% load pagination_heading %}{% pagination_heading %}{% endblock heading %}
{% block content %}
<div class="Grid_heading">
	<div class="web_ods_up">&nbsp;</div>
	<div class="web_ods_down">&nbsp;</div>
	<div class="web_ods_name">{% trans "Destination" %}</div>
	<div class="web_ods_dest">{% trans "Policy" %}</div>
	<div class="web_ods_permit">{% trans "Permit" %}</div>
	<div class="web_sources_action">{% trans "Actions" %}</div>
</div>
{% for od in object_list %}
<div class="{% cycle 'LightBlue' 'LightGray' %}_div">
	<div class="web_ods_row_up">
		<a href="{% url move-od-rule 'up', od.id%}"><img src="{{ MEDIA_URL }}web/imgs/arrow_up.png" alt="up" title="up" /></a>
	</div>
	<div class="web_ods_row_down">
		<a href="{% url move-od-rule 'down', od.id%}"><img src="{{ MEDIA_URL }}web/imgs/arrow_down.png" alt="down" title="down" /></a>
	</div>
	<div class="web_ods_row_name">{{ od.destination.name }}</div>
	<div class="web_ods_row_dest">{{od.destination_policy.name}}</div>
	<div class="web_ods_row_permit">
		{% if od.permit %}
		{% trans "Yes" %}
		{% else %}
		{% trans "No" %}
		{% endif %}
	</div>
	<div class="web_sources_row_edit"><a href="{% url edit-ods-rule od.id %}"><img src="{{ MEDIA_URL }}mail/imgs/edit.png" alt="Edit" title="Edit" /></a></div>
	<div class="web_sources_row_delete"><a href="{% url delete-ods-rule od.id %}"><img src="{{ MEDIA_URL }}common/imgs/action_delete.png" alt="Delete" title="Delete"/></a></div>
</div>
{% empty %}
<div class="LightBlue_div"><div class="spanrow">{% trans "No Ordered Destinations found" %}</div></div>
{% endfor %}
{% endblock content %}
{% block paging %}
<div class="content_footer">
    <div id="paginator">
    {% load config_pager %}{% config_pager 3 %}
    </div>
</div>
{% endblock paging %}