{% extends "base.html" %}
{% load i18n %}
{% block submenu %}
<ul>
	<li><a href="{% url add-time-rule %}">{% trans "Add Time" %}</a></li>
</ul>
{% endblock submenu %}
{% block title %}{% trans "Settings :: Times :: " %}{% load pagination_heading %}{% pagination_heading %}{% endblock title %}
{% block heading %}{% trans "Settings :: Times :: " %}{% load pagination_heading %}{% pagination_heading %}{% endblock heading %}
{% block content %}
<div class="Grid_heading">
    <div class="web_times_name">{% trans "Time period name" %}</div>
	<div class="web_times_action">{% trans "Actions" %}</div>
</div>
{% for period in object_list %}
<div class="{% cycle 'LightBlue' 'LightGray' %}_div">
	<div class="web_times_row_name">{{ period.name }}</div>
	<div class="web_times_row_edit">
		{% if period.mutable %}
		<a href="{% url edit-time-rule period.id %}"><img src="{{ MEDIA_URL }}mail/imgs/edit.png" alt="Edit" title="Edit" /></a>
		{% else %}
		<img src="{{ MEDIA_URL }}mail/imgs/edit.png" alt="Edit" title="Edit" />
		{% endif %}
	</div>
	<div class="web_times_row_delete">
		{% if period.mutable and period.renameable %}
		<a href="{% url delete-time-rule period.id %}"><img src="{{ MEDIA_URL }}common/imgs/action_delete.png" alt="Delete" title="Delete"/></a>
		{% else %}
		<img src="{{ MEDIA_URL }}common/imgs/action_delete.png" alt="Delete" title="Delete"/>
		{% endif %}
	</div>
</div>
{% empty %}
<div class="LightBlue_div"><div class="spanrow">{% trans "No Time periods found" %}</div></div>
{% endfor %}
{% endblock content %}
{% block paging %}
<div class="content_footer">
    <div id="paginator">
    {% load config_pager %}{% config_pager 3 %}
    </div>
</div>
{% endblock paging %}