#navigation{ 
	width:885px;
	height:auto; 
	background-color:white;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:15px;
} 

#navigation ul{
	list-style:none;
} 

#navigation ul li{
	float:left; 
	margin-right:15px;
} 

#navigation ul li a{
	color:black; 
	/*font-weight:bold; */
	text-decoration:none;
} 

#navigation ul li a:hover{
	color:#616161; 
	background-color:White; 
	text-decoration:none;
}

a {
 	text-decoration: none;
}

a:visited {
   	text-decoration: none;
}

a:hover {
      	color: blue;
}

