html, body {
    color:white;
    height:100%;
}

body {
    color:#525252;
    font-size-adjust:none;
    font-size:75%;
    font-style:normal;
    font-variant:normal;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-weight:normal;
    line-height:16px;
    background:#FFFFFF;
    margin:0;
    padding:0;
}

input, select {
    color:#525252;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:75%;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:16px;
}

div {
    margin:0;
    padding:0;
}

div.cb {
    clear:both;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom:3px;
    margin-top:0;
    padding-top:0;
}

element.style {
    display: block;
}

#main-wrapper {
    height:auto !important;
    min-height:100%;
}

.footer-placeholder {
    height:71px;
}

#footer-wrapper {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF;
    clear:both;
    height:71px;
    margin:-71px 0 0;
    width:100%;
}

#footer-wrapper #footer {
    height:44px;
    margin: 0 auto;
    padding-top:27px;
    position:relative;
    text-align:center;
    width:960px;
}

#header-wrapper {
    height:60px;
    margin:0 auto 10px;
    position:relative;
    width:960px;
}

#header-wrapper #header {
    height:66px;
    margin:0 auto;
    position:relative;
    width:960px;
}

#content-wrapper {
    margin:0 auto;
    width:960px;
}

#content-wrapper h3 {
    -x-system-font:none;
    font-family:"Lucida Grande","Trebuchet MS", Tahoma,Arial,sans-serif;
    font-size:1.3em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:-1px;
    line-height:normal;
}

#navigation {
    border-bottom:1px solid #DDDDDD;
    margin:0 auto;
    width:960px;
}

.navigation-tabs {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0 0 0 4px;
    font-family:"Lucida Grande","Lucida Sans",Arial,sans-serif;
    font-size:12px;
}

.navigation-tabs li {
    float:left;
    margin:0 0 0 1px;
    min-width:84px;
}

.navigation-tabs a {
    background-position:100% -100px;
    color:#525252 !important;
    font-weight:bold;
    line-height:1.2;
    margin:1px 0 0;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:0;
    padding-left:0;
    text-align:center;
    text-decoration:none;
    white-space:nowrap;
}

.navigation-tabs a, .navigation-tabs a span {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(http://media-cdn.bitbucket.org/img/tab_grey.png) no-repeat scroll 0 0; 
    cursor:pointer !important;
    display:block;
    padding:0 10px;
}

* > .navigation-tabs a span {
    height:auto;
    width:auto;
}

.navigation-tabs a span,
.navigation-tabs {
    background-position:0 0;
}

#sub-menu {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF none repeat scroll 0 0;
    border-bottom:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    margin:0 auto;
    padding:8px 20px;
    width:918px;
    z-index:1 !important;
}

.divider-header {
    margin:0 auto;
    padding:0;
    width:920px;
}

.divider-header h3,
.divider-header h2 {
    margin-bottom:7px !important;
}

#search {
    float:right;
}

#content-layout {
    border-bottom:0 none !important;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
    margin:0 auto;
    width:960px;
}

@import 'styles.css';
