Source: baruwa
Section: python
Priority: optional
Maintainer: Andrew Colin Kissa <andrew@topdog.za.net>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.4), po-debconf, python-setuptools
Build-Depends-Indep: python-sphinx, libjs-jquery
Standards-Version: 3.8.4
Homepage: http://www.topdog.za.net/baruwa

Package: baruwa
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libapache2-mod-wsgi, wwwconfig-common, debconf (>= 0.2.26), libjs-dojo-dojox, libjs-dojo-dijit, libjs-dojo-dojox, python-mysqldb, python-django (>= 1.1.1), python-ipy, python-geoip, mysql-client, python-reportlab, mailscanner
Description: Web 2.0 MailScanner front-end.
 .
 Baruwa provides an easy to use interface for 
 managing a MailScanner installation. It is used 
 to perform operations such as releasing 
 quarantined messages, spam learning, whitelisting 
 and blacklisting addresses, monitoring the health 
 of the services etc. Baruwa is implemented using 
 web 2.0 features (AJAX) where deemed fit, 
 graphing is also implemented on the client side 
 using SVG, Silverlight or VML.
 .
 It includes reporting functionality with an easy 
 to use query builder, results can be displayed as 
 message lists or graphed as colorful and pretty 
 interactive graphs.
 .
 Custom MailScanner modules are provided to allow 
 for logging of messages to the mysql database 
 with SQLite as backup and for managing whitelists
 and blacklists.
 
Package: baruwa-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: libjs-jquery
Description: Web 2.0 MailScanner front-end documentation.
 .
 Baruwa provides an easy to use interface for 
 managing a MailScanner installation. It is used 
 to perform operations such as releasing 
 quarantined messages, spam learning, whitelisting 
 and blacklisting addresses, monitoring the health 
 of the services etc. Baruwa is implemented using 
 web 2.0 features (AJAX) where deemed fit, 
 graphing is also implemented on the client side 
 using SVG, Silverlight or VML.
 .
 It includes reporting functionality with an easy 
 to use query builder, results can be displayed as 
 message lists or graphed as colorful and pretty 
 interactive graphs.
 .
 Custom MailScanner modules are provided to allow 
 for logging of messages to the mysql database 
 with SQLite as backup and for managing whitelists
 and blacklists.
 .
 This package contains the HTML documentation. 
