{% extends "base.html" %}
{% block headers %}{% endblock headers %}
{% block submenu %}
{% endblock submenu %}
{% block title %}Add Address{% endblock title %}
{% block heading %}Add Address{% endblock heading %}
{% block content %}
<div class="Grid_heading">
    <div class="Bayes_heading">Add Address</div>
</div>
<form action="{% url add-address user_id %}" method="post">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	<input type="hidden" name="user" value="{{ user_id }}" />
    {% for field in form.visible_fields %}
		{% ifnotequal field.label 'User'  %}
			<div class="LightBlue_div">
				<div class="form_label">{{ field.label }}</div>
				<div class="form_value">{{ field }}</div>
				<div class="form_error">{{ field.errors }}</div>
	        </div>
		{% endifnotequal %}
    {% endfor %}
    <div class="LightBlue_div">
        <div class="form_label">&nbsp;</div>
        <div class="form_value">
            <input id="cancel-button" type="reset" value="Cancel" />&nbsp;
            <input id="submit-button" type="submit" value="Add" />
        </div>
        <div class="form_error"></div>
    </div>
</form>
{% endblock content %}