<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Baruwa :: {% block title %}{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
{% block headers %}{% endblock headers %}
</head>
<body{%block body_class%}{%endblock body_class%}>
<div id="main-wrapper">
  <div id="header-wrapper">
    <div id="header">
     <h1>Baruwa</h1>
    </div><!-- header -->
  </div><!-- header-wrapper -->
  <div id="content-wrapper">
    <div id="tabs">
      <ul class="ui-tabs-nav">
        <li><a href="/messages/"><span>Recent Messages</span></a></li>
        <li><a href="/lists/"><span>Lists</span></a></li>
        <li><a href="/reports/"><span>Reports</span></a></li>
        <li><a href="/status/"><span>Status</span></a></li>
        <li><a href="/tools/"><span>Tools</span></a></li>
      </ul>
    </div><!-- tabs -->
    <div id="sub-menu" style="display: block;">
      <div id="sub-menu-links">{% block submenu %}{%endblock submenu %}</div>
      <div class="cb"></div>
    </div>
    <div class="cb">&nbsp;</div>
    <div id="divider-header" class="divider-header">
      <h3>{% block heading %}{% endblock heading %}</h3>
      <!--<div id="top-pagination">
      </div>-->
    </div>
    <div class="cb">&nbsp;</div>
    <div id="content-layout">
    {% block content %}{%endblock content %}
    </div>
  </div><!-- content-wrapper -->
  <div class="cb footer-placeholder"></div>
</div><!-- main-wrapper -->
<div id="footer-wrapper">
	<div id="footer">
	Django Powered
	</div><!-- footer -->
</div><!-- footer-wrapper -->
<div id="loading_message" class="loading_message" style="display: none;">
<p><img src="/static/imgs/loader.gif" alt="loading"/>&nbsp;Loading.......</p>
</div>
</body>
</html>
