{% extends "base.html" %}
{% block headers %}
{% if not is_paginated %}
<meta http-equiv="refresh" content="30">
{% endif %}
{% endblock headers %}

{% block submenu %}
<ul>
  <li><a href="/messages/full/">Full message list</a></li>
  <li><a href="/messages/quarantine/">Quarantine</a></li>
</ul>
{% endblock submenu %}
{% block title %}
{% if is_paginated %} 
Showing page {{ latest_message_list.number }} of {{ latest_message_list.paginator.num_pages }} pages.
{% else %}
Showing the 50 most recent messages
{% endif %}
{% endblock title %}
{% block heading %}
{% if is_paginated %}
{% load pagination_heading %}{% pagination_heading %}
{% else %}
Showing the 50 most recent messages (30 second refresh)
{% endif %}
{% endblock heading %}
{% block content %}
<table class="maillog">
<tr class="header">
{% if is_paginated %}
{% load sorter %}
	<th class="first-t">#</th>
	<th>
  {% sorter "timestamp" "Date/Time" %}
  </th>
	<th>
  {% sorter "from_address" "From" %}
  </th>
	<th>
  {% sorter "to_address" "To" %}
  </th>
	<th>
  {% sorter "subject" "Subject" %}
  </th>
	<th>
  {% sorter "size" "Size" %}
  </th>
	<th>
  {% sorter "sascore" "Score" %}
  </th>
	<th>Status</th>
{% else %}
	<th class="first-t">#</th>
	<th>Date/Time</th>
	<th>From</th>
	<th>To</th>
	<th>Subject</th>
	<th>Size</th>
	<th>Score</th>
	<th>Status</th>
{% endif %}
</tr>
{% if object_list %}
	{% load messages_extras %}
	{% for message in object_list %}
	<tr{% if message.isspam and not message.ishighspam and not message.spamblacklisted %} class="spam"{% endif %}
    {% if message.ishighspam and not message.spamblacklisted %} class="highspam"{% endif %}
    {% if message.spamwhitelisted %} class="whitelisted"{% endif %}
    {% if message.spamblacklisted %} class="blacklisted"{% endif %}>
	<td class="first-t">[<a href="/messages/{{ message.id }}/">&nbsp;&nbsp;</a>]</td>
	<td>{{ message.timestamp }}</td>
	<td>{{ message.from_address|tds_trunc:30 }}</td>
	<td>{{ message.to_address|tds_nl_commas|linebreaksbr }}</td>
	<td><div>{{ message.subject|wordwrap:38|linebreaksbr }}</div></td>
	<td>{{ message.size|filesizeformat }}</td>
	<td>{{ message.sascore }}</td>
	<td>
    {% if message.isspam and not message.virusinfected and not message.nameinfected and not message.otherinfected %}Spam{% endif %}
    {% if message.spamblacklisted %}[BL]{%endif%}
    {% if message.virusinfected or message.nameinfected or message.otherinfected %}Infected{% endif %}
    {% if not message.isspam and not message.virusinfected and not message.nameinfected and not message.otherinfected %}Clean{% endif %}
    {% if message.spamwhitelisted %}[WL]{%endif%}
    </td>
	</tr>
	{% endfor %}
{% endif %}
{% if is_paginated %}
  <tr class="header">
  <td colspan="8" class="pagination">
  {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
  </td>
  </tr>
{% endif %}
</table>
{% endblock content %}
